#virtual environment
venv/

#python cache
__pycache__/
*.pyc

#VS Code
.vscode/

#OS files
.DS_Store
Thumbs.db

#datasets
member1_detection/data/soccana_yolo/images
member1_detection/data/soccana_yolo/labels

#YOLO outputs
runs/
*.pt
*.cache

#YOLO weights
*.pt

#videos
*.mp4
*.avi

#detection outputs
outputs/
*.json